@import 'colors';
.CV {
    color: $font-color;
    .i18nButton {
        p {
            line-height: 36px;
        }
    }

    .education-wrapper {
        text-align: center;
        .education-list {
            width: 710px;
            display: inline-block;
            margin-top: 20px;
            margin-bottom: 20px;
            padding: 20px;
            h1 {
                margin-bottom: 20px;
            }
            h2 {
                margin-bottom: 10px;
            }
            .university-box {
                text-align: left;
                display: flex;
                align-content: center;
                .university-logo {
                    display: inline-block;
                    vertical-align: top;
                }
                .university-info-box {
                    display: inline-block;
                    padding-left: 20px;
                    margin-top: 20px;
                    .university-name {
                        vertical-align: top;
                    }
                }
            }
        }
    }
   
    .background-blue {
        position: absolute;
        background: $cyan500;
        top: 0;
        width: 100%;
        height: 350px;
        z-index: 1;
    }
}
