.box-wrapper {
    text-align: center;
    .box {
        margin-bottom: 20px;
        width: 710px;
        display: inline-block;
        padding-top: 20px;
        padding-bottom: 20px;
        text-align: left;
    }
}
